* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  -webkit-animation: shake linear 2s infinite;
          animation: shake linear 2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.sky {
  position: absolute;
  top: -2rem;
  height: 100vh;
  width: 100%;
  background: url(sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
}

.windmill {
  position: absolute;
  top: -9rem;
  height: 100vh;
  width: 100%;
  background-image: url(trees.png);
  background-repeat: no-repeat;
  -o-object-fit: fill;
     object-fit: fill;
}

.track {
  height: 60vh;
  width: 800vw;
  background-image: url(track.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 70vh;
  -webkit-animation: trackmove linear 2s infinite;
          animation: trackmove linear 2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.car {
  height: 8rem;
  width: 37rem;
  background: url(carbody.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  left: 19rem;
  bottom: 24vh;
  -webkit-animation: shake linear 0.5s infinite;
          animation: shake linear 0.5s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.wheel1 img {
  width: 3.17rem;
  position: relative;
  top: 4.8rem;
  left: 3.1rem;
  -webkit-animation: wheelRotation linear 0.8s infinite;
          animation: wheelRotation linear 0.8s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.wheel2 img {
  width: 3.17rem;
  position: relative;
  top: 1.4rem;
  left: 14.3rem;
  -webkit-animation: wheelRotation linear 0.8s infinite;
          animation: wheelRotation linear 0.8s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes wheelRotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheelRotation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes trackmove {
  100% {
    -webkit-transform: translate(-500vw);
            transform: translate(-500vw);
  }
}

@keyframes trackmove {
  100% {
    -webkit-transform: translate(-500vw);
            transform: translate(-500vw);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes shakebody {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes shakebody {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=style.css.map */